html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/bg01.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
}


h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

strong, b {
	font-weight: bolder;
}

a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

	.image
	{
		display: inline-block;
	}

		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

/* td {  */
/*     padding-left: 5px; */
/*     padding-right: 5px; */
/* } */


table	{
	padding: 0px;
	border: 1px solid black;
}

th, td	{
	padding: 4px;
	border: 1px solid black;
}

.floatedObject  {
	float: right;
	caption-side:bottom;
	margin-left: 40px;
	margin-bottom: 10px;
}

.floatedObject table {
	padding: 0px;
	border: 1px solid black;
}

/* .floatedfigure { */
/* 	float: right; */
/* } */

.floatedthumbnail	{
	float: left;
	padding: 20px;
}

/* Follows a series of floating images, without floating up alongside of them. */
.nonFloatingPar	p	{
	clear: both;
}


.thumbfigcaption p {
	display:table-caption;
	line-height: 15px;
	font-size: 10pt;
	font-family: 'FontAwesome';
}


figcaption p {
	line-height: 1;
	font-size: 10pt;
	font-family: 'FontAwesome';
}

.indentedQuote {
	font-family: "Times New Roman", Georgia, Serif;
	margin-left: 40px;
	line-height: 1.3
}

.doubleIndentedQuote {
	font-family: "Times New Roman", Georgia, Serif;
	margin-left: 70px;
	line-height: 1.3
}

.indentedCitation {
	margin-left: 40px;
	margin-bottom: 20px;
	line-height: 1
	clear: both;
}

.precaption	{
	line-height: 1;
	font-size: 10pt;
	font-family: 'FontAwesome';
	font-weight: 600;
	margin-bottom: 0px;
    padding-bottom: 0px;
}

	pre.preCode
	{
	    font-family: "Courier New" Courier monospace;
		font-size: 0.80em;
	    background: #E8E8E8;
	    overflow: auto;
	    padding: 10px;
	 }

	pre.preCodeWithCaption
	{
		margin-top: 0px;
	    font-family: "Courier New" Courier monospace;
		font-size: 0.80em;
	    background: #E8E8E8;
	    overflow: auto;
	    padding: 10px;
	 }

	pre.prePoetry
	{
		font-family: "Times New Roman", Georgia, Serif;
		font-size: 1em;
	    #background: #E8E8E8;
	    overflow: auto;
	    padding: 5px;
	 }

	pre.preProse
	{
		font-family: 'FontAwesome';
		font-size: 1em;
	    #background: #E8E8E8;
	    overflow: auto;
	    white-space: pre-wrap;
	    padding: 5px;
	    margin-right: 140;
	 }


/* Section allowing for a series of descriptions of things. Floating is allowed, but turned off between descriptions.
li = thing being described (for time being that is an SVN command, hence the monospace font;
p = the description
*/
.singleSpacedDescription	{
	clear: both;
}
.singleSpacedDescription	li {
	font-family: monospace;
	font-weight: bold;
}
.singleSpacedDescription	p {
	line-height: 120%;
	font-style: italic;
	//margin-bottom: 0px;
	//margin-bottom: 20px;
}

.singleSpacedDescriptionFloat	{
	//clear: both;
}
.singleSpacedDescriptionFloat	li {
	font-family: monospace;
	font-weight: bold;
}
.singleSpacedDescriptionFloat	p {
	line-height: 120%;
	font-style: italic;
	//margin-bottom: 0px;
	//margin-bottom: 20px;
}

hr {
	display: none;
}

	ul.style1
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul.style1 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

	ul.style1 li
	{
		//border-top: solid 1px #E5E5E5;
		margin-left: 0.8 em;
		padding: 0.20em 0;
		//padding: 0;
}

	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}

	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

	ul.style3 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

	ul.style3 li
	{
		padding: 0.80em 0;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 0em;
		# text-transform: uppercase;
	}

	.title .noTextTransform
	{
		text-transform: capitalize;
	}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;
		color: #171717;
	}

	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}

/** WRAPPER */

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper
{
	background: #0F0F0F;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		padding-bottom: 3em;
		background: #E8E8E8 url(images/bg01.png) repeat;
		box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.1);
}

	#header
	{
		position: relative;
		text-align: left;

	}

	#header-image1
	{
    	width:55%;
		position:absolute;
    	TOP:15px;
    	RIGHT:3px;
}

	#header-image2
	{
    	width:55%;
		position:absolute;
		TOP:72px;
    	RIGHT:3px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		width: 900px;
		height: 100px;
		margin: 0 auto auto 0;
	}

	#logo h1
	{
		letter-spacing: 0.10em;
		font-size: 3em;
	}

	#logo p
	{
		letter-spacing: 0.10em;
		color: #292A28;
		line-height: 100%;
		font-size: 1em;
	}

	#logo a
	{
		text-decoration: none;
		color: #292A28;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: absolute;
		left: 0;
		overflow: hidden;
		z-index: 1;
	}

	#banner .image
	{
		border: 5px solid #FFFFFF;
	}


/** MENU */

#menu {
	overflow: hidden;
	margin-bottom: 1em;
	background: #25292B;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	height: 60px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	line-height: 70px;
	padding: 0 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	font-weight: 600;
	border: none;
	color: #FFF;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background: #A00000;
}

/** PAGE */

#page
{
	position: relative;
	overflow: hidden;
	padding: 2em 0em 5em 0em;
}

/** CONTENT */

#content
{
	float: left;
	width: 790px;
}

#content h3
{
	padding: 3px 0px 3px 0px;
	clear: both;
    padding-left: 25px;
    text-indent: -25px;
}




/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 345px;
		//width: 245px;
	}

	#sidebar .title h2
	{
		font-size: 1.2em;
		padding: 0em 0em 1em 0em;
	}

	#sidebar .internalLinkBox
	{
		margin-bottom: 3em;
	}

	#sidebar .internalLinkBox .title
	{
		margin-bottom: 0em;
		text-transform: uppercase;
	}

	#sidebar .pageContentsBox
	{
		margin-bottom: 3em;
	}

	#sidebar .pageContentsBox .title
	{
		margin-bottom: 0em;
		padding: 0em 0em 0em 0em;
		//padding-bottom: 0em;
		text-transform: uppercase;
	}

	#sidebar .scrollingbox
	{
		margin-bottom: 3em;
		height: 300px;
		//width: 100px;
		overflow: auto;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
		text-transform: uppercase;
		color: #6F6F6F;
	}

	#footer h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2.4em;
		color: #FFF;
	}

	#footer .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
	}

	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}

	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		padding: 5em 0em;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
	}

	#welcome h2
	{
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-size: 2.6em;
	}

	#welcome p
	{
		font-size: 1.3em;
	}

	#welcome .byline
	{
		display: block;
		padding: 0em 0em 1.5em 0em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
/* 		background: #272925; */
		background: #E8E8E8 url(images/bg01.png) repeat;
		padding: 2em 0em 1em 0em;
	}

	#portfolio
	{
		overflow: hidden;
		text-align: center;
		color: #8E8E8E;
	}

	#portfolio .title h2
	{
		font-size: 1.2em;
		color: #FFF;
	}

	#portfolio .byline
	{
		font-size: 1em;
		color: #EEA7C1;
	}

	#column1,
	#column2,
	#column3,
	#column4
	{
		width: 282px;
	}

	#column1,
	#column2
	{
		float: left;
		margin-right: 24px;
	}

	#column3
	{
		float: left;
	}

	#column4
	{
		float: right;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 3em 1em 2em;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}

		.button:before
		{
			display: inline-block;
			background: #FFC31F;
			margin-right: 1em;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 20px;
			text-align: center;
			color: #272925;
		}

















