appdirs==1.4.3
click==6.6
cloudpickle==0.2.1
cymem==1.31.2
cytoolz==0.8.2
Flask==0.11.1
flexmock==0.10.2
html5lib==0.999999999
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
keepalive==0.5
MarkupSafe==0.23
murmurhash==0.26.4
mysql-connector==2.1.4
nltk==3.4.5
nose==1.3.7
numpy==1.11.2
packaging==16.8
PasteDeploy==1.5.2
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
pyparsing==2.1.10
rdflib==4.2.1
repoze.lru==0.6
requests==2.11.1
semver==2.6.0
six==1.10.0
spacy==0.101.0
SPARQLWrapper==1.7.6
sputnik==0.9.3
thinc==5.0.8
toolz==0.8.2
tqdm==4.11.2
translationstring==1.3
ujson==1.35
venusian==1.0
webencodings==0.5
WebOb==1.6.1
Werkzeug==0.11.11
zope.deprecation==4.1.2
zope.interface==4.3.2
